<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit for admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="bg-dark">
<form th:method="GET" th:action="@{/admin/bookspeople/{id}(id=${bookspeople.getId()})}">
    <table class="table-bordered table-hover col-8 text-white bg-success bg-opacity-50">
        <thead>
        <tr class="text-shadow-3 bg-dark">
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="table_books" type="com.caterpillar.shamil.SpringSecurity.entity.Books"*/-->
        <tr th:each="book : ${table_books}">
            <td th:text="${book.getId()}"></td>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAuthor()}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <!--/*@thymesVar id="table_people" type="com.caterpillar.shamil.SpringSecurity.entity.People"*/-->
    <table class="table-bordered table-hover col-8 text-white bg-success bg-opacity-50">
        <thead>
        <tr class="text-shadow-3 bg-dark">
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Patronymic</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${table_people}">
            <td th:text="${person.getId()}"></td>
            <td th:text="${person.getFirstname()}"></td>
            <td th:text="${person.getLastname()}"></td>
            <td th:text="${person.getPatronymic()}"></td>
        </tr>
        </tbody>
    </table>
</form>
<hr>
    <!--/*@thymesVar id="bookspeople" type="com.caterpillar.shamil.SpringSecurity.entity.BooksPeople"*/-->
    <form th:method="PATCH" th:action="@{/admin/bookspeople/{id}(id=${bookspeople.getId()})}" th:object="${bookspeople}">
<!--        <input type="hidden"  th:field="*{id}">-->
<!--        <input type="hidden"  th:field="*{peoples.id}">-->
        <!--/*@thymesVar id="book" type="com.caterpillar.shamil.SpringSecurity.entity.Books"*/-->
        <div th:object="${book}">
            <p class="text-success">Enter the book data</p>
            <input type="hidden"  th:field="*{id}">
            <label class="form-label text-warning">Title: <input type="text"  th:field="*{title}"></label>
            <label class="form-label text-warning">Author: <input type="text"  th:field="*{author}"></label>
        </div>
        <p class="text-success">Enter the person data</p>
        <!--/*@thymesVar id="person" type="com.caterpillar.shamil.SpringSecurity.entity.People"*/-->
        <div th:object="${person}">
            <input type="hidden"  th:field="*{id}">
            <label class="form-label text-warning">Last name: <input type="text"  th:field="*{lastname}"></label>
            <label class="form-label text-warning">First name: <input type="text"  th:field="*{firstname}"></label>
            <label class="form-label text-warning">Patronymic: <input type="text"  th:field="*{patronymic}"></label>
        </div>
            <div><input class="btn btn-warning" type="submit" value="Изменить данные"></div>
    </form>
    <form th:method="DELETE" th:action="@{/admin/bookspeople/{id}(id=${bookspeople.getId()})}" th:object="${bookspeople}">
        <input type="hidden"  th:field="*{books.id}">
        <input type="hidden"  th:field="*{peoples.id}">
        <div ><input class="btn btn-danger" type="submit" value="Удалить запись"></div>
    </form>
</body>
</html>